<div class="container mt-2 ">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Ram Usage by accounts</h1>
          <div style="width: 300px; height: 200px;">
            <canvas baseChart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOption"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Disc Usage</h1>
          <div style="width: 300px; height: 200px;">
            <canvas baseChart type="pie" width="300px" height="200px" [data]="pieChartData"
              [options]="pieChartOption"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Bandwidth Usage by accounts</h1>
          <div style="width: 300px; height: 200px;">
            <canvas baseChart type="bar" [data]="barChartData"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">New Accounts Report</h1>
          <div style="width: 300px; height: 200px;">
            <canvas baseChart [data]="horizontalBarChartData" [options]="horizontalBarChartOptions" type="bar"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>